/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Hide submenu, leave this to kmom02 */
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
  font-family: 'Playfair Display', serif;
}
* {
  box-sizing: border-box;
}
.inner-wrap {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
//  */
/* HEADER */
.region-header-col-1 {
  float: left;
  padding: 1em;
}
.region-header-col-1 a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.site-logo {
  display: none;
}
/* header, navbar */
.region-header-col-2 a {
  text-decoration: none;
  color: black;
}
.region-header-col-2 li {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}
/* MAIN */
.outer-wrap-main {
  margin-bottom: 25px;
}
.inner-wrap-main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-height: 30em;
}
.region-main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: block;
}
/* Breadcrumbs */
.region-breadcrumb li {
  display: inline;
}
.region-breadcrumb a {
  text-decoration: none;
  color: black;
  padding: 10px;
  text-decoration: underline;
}
.region-breadcrumb li + li:before {
  color: black;
  content: "->";
}
/* next/previous */
.next-previous {
  margin-bottom: 25px;
}
.next {
  float: right;
}
.next a {
  text-decoration: none;
  color: black;
}
.previous a {
  text-decoration: none;
  color: black;
}
/* pictures in main */
.img-right {
  float: right;
}
.img-left {
  float: left;
  padding-right: 10px;
  margin: 0 0 40px 0;
}
/* sidebar, redovisa & verktyg */
.region-sidebar-left {
  float: left;
  display: inline;
  width: 30%;
}
.region-sidebar-left ul {
  list-style-type: none;
}
.region-sidebar-left li {
  text-decoration: none;
  padding: 3px;
}
.region-sidebar-left a {
  text-decoration: none;
  color: black;
}
.region-sidebar-left h4 {
  padding-left: 45px;
  text-decoration: underline;
  font-size: 25px;
  margin-bottom: 0;
}
/* main redovisa */
.region-main.has-sidebar-left {
  width: 70%;
  float: left;
  display: inline;
}
/* block, about */
.region-sidebar-right {
  float: left;
  display: inline;
  width: 30%;
}
.region-sidebar-right h4 {
  text-decoration: underline;
  text-transform: uppercase;
}
.region-sidebar-right a {
  text-decoration: none;
  text-decoration: underline;
  color: black;
}
/* main, about */
.region-main.has-sidebar-right {
  width: 70%;
  float: left;
  display: inline;
}
.region-main.has-sidebar-right .article {
  width: 70%;
}
.has-sidebar-left.has-sidebar-right,
.has-sidebar-right.has-sidebar-left {
  width: 29%;
  float: left;
  margin: 20px;
  background-color: #e6e9ef;
}
/* Byline */
.byline {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 1em;
  overflow: auto;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  clear: both;
}
.picture-byline {
  float: left;
  margin-right: 20px;
  width: 100px;
}
/* Footer */
.outer-wrap-footer {
  background-color: #424344;
  color: #fff;
  padding: 25px;
  margin: 0;
  clear: both;
}
.inner-wrap-footer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.footer-column {
  width: 33%;
  float: left;
  padding: 10px;
}
.footer-column a {
  color: #fff;
  text-decoration: underline;
}
.center {
  text-align: center;
  padding-top: 25px;
  clear: both;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Navbar
 */
@media screen and (max-width: 1350px) {
  .rm-desktop a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media screen and (max-width: 1125px) {
  .rm-desktop a {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
}
@media screen and (max-width: 1020px) {
  .region-header-col-1,
  .region-header-col-3 {
    width: 10%;
  }
  .region-header-col-2 {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .region-header-col-2 li {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .rm-desktop a {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 650px) {
  .rm-desktop {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
